:root {
  --primary-color: #6c757d;
  --secondary-color: #ef8354;
  --accent1-color: #ffffff;
  --accent2-color: #e4e4e4;
}

body {
  font-family: Roboto, Arial, san-serif;
  font-size: 15px;
  box-sizing: border-box;
  color: var(--primary-color);
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--accent2-color);
  margin-bottom: 2rem;
}

header img {
  width: 8rem;
  justify-self: flex-start;
  margin-left: 6rem;
}

nav{
  display: flex;
}

nav a {
  display: block;
  padding: 2rem;
  color: var(--primary-color);
  font-weight: 300;
  text-decoration: none; /* Moved from 'a' selector */
}

.first_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
  margin-top: 5.5rem;
}

.first_section h2 {
  grid-column: 1 / 4;
  justify-self: center;
  font-weight: 300;
  font-size: 1.3rem;
  color: #212529;
  padding-bottom: 1rem;
}

.first_section p {
  text-align: justify;
  padding: 0 1rem;
  font-weight: 300;
  line-height: 1.4rem;
  font-size: 0.95rem;
}

.second_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 4.5rem;
}

.second_section div {
  display: flex;
}

figure img {
  width: 100%;
}

.second_section h2 { /* Consolidated h2 styles */
  text-align: center;
  font-weight: 300;
  font-size: 1.3rem;
  color: #212529;
  padding-bottom: 0.5rem;
}

.hero {
  position: relative;
  background-color: #ef8354;
}

.hero h1 {
  font-family: "Dancing script", sans-serif;
  color: var(--primary-color);
  background-color: #ffffffb9;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 3rem;
}

a { /* Consolidated text-decoration style here */
  text-decoration: none;
}

.hero article {
  width: 80%;
  background-color: #2d3142d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 300px;
  margin-left: 0.7rem;
}

.hero article p {
  color: var(--accent1-color);
  padding: 0.5rem;
  font-weight: 300;
  line-height: 1.3rem;
  text-align: justify;
}

footer {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

footer nav { 
  right: 2rem;
}

footer a {
  padding: 1rem;
}


footer img {
  width: 1rem;
  height: auto;
  margin: 0;
  padding: 0;
}

.connect {
  padding: 2.5rem;
}

.connect h1 {
  font-weight: 300;
  font-size: 2.5rem;
  color: #212529;
  text-align: center;
  margin: 1rem;
}

.employees-heading h2, .connect h2 { 
  font-weight: 300;
  font-size: 2.5rem;
  color: #212529;
  text-align: center;
}

.connect p, .employees-heading p { 
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  line-height: 1.6rem;
  font-size: 1.1rem;
  font-weight: 300;
}

.address, address {  
  font-weight: 400;
}

.employees {
  box-sizing: border-box;
  display: flex;
  padding: 2.5rem;
  height: 300px;
  margin: 0 0 2.5rem 0;
}

.employees img {
  box-shadow: 0 0 2px #212529;
}

figcaption {
  font-weight: 300;
  padding: 0.5rem 0;
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding-top: 2rem;
}

.contact-info article {
  justify-self: center;
}

.contact-info iframe {
  justify-self: center;
  border: none;
}

.contact-info h2, form h2 { 
  font-weight: 300;
  font-size: 1.2rem;
  color: #6c757d;
  padding: 0 0 0.3rem 0;
}

.contact-info p {
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 300;
}

.bold span {
  font-weight: 400;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.2rem;
}