:root {
  --primary-color: #6c757d;
  --secondary-color: #ef8354;
  --accent1-color: #ffffff;
  --accent2-color: #e4e4e4;
}

body {
  font-family: Roboto, Arial, san-serif;
  font-size: 15px;
  box-sizing: border-box;
  color: var(--primary-color);
}

header{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid var(--accent2-color);
  margin-bottom: 2rem;
}

header img{
  width: 8rem;
  justify-self: flex-start;
  margin-left: 6rem;
}

nav{
  display: flex;
}

nav a{
  display: block;
  padding: 2rem;
  color: var(--primary-color);
}

.first_section{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 0;
}

.first_section h2{
  grid-column: 1 / 4;
  justify-self: center;
}

.first_section p{
  text-align: justify;
  padding: 0 1rem;
}

.second_section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.second_section div{
  display: flex;
}

figure img{
  width: 100%;
}

.second_section h2{
  text-align: center;
}

.hero {
  position: relative;
  background-color: #ef8354;
}

h1 {
  font-family: "Dancing script", sans-serif;
  color: var(--primary-color);
  background-color: #ffffffb9;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  font-size: 3rem;
  color: var(--primary-color);
}

a {
  text-decoration: none;
}

.hero article {
  width: 80%;
  background-color: #2d3142d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.7rem;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero article img {
  float: right;
  width: 300px;
  margin-left: 0.7rem;
}

.hero article p {
  color: var(--accent1-color);
  padding: 0.5rem;
  font-weight: 300;
  line-height: 1.3rem;
  text-align: justify;
}

footer{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  position: relative;
}

footer nav{
  position: absolute;
  right: 2rem;
}

footer a{
  padding: 1rem;
}

footer img {
  width: 1rem;
  height: auto;
  margin: 0;
  padding: 0;
}


/*Contact page styles*/
p, h2{
  margin: 0;
  padding: 0;
}

.connect{
  padding: 2.5rem;
}

.connect h2, .employees-heading h2{
  font-weight: 300;
  font-size: 2.5rem;
  color: #212529;
}

.connect p, .employees-heading p {
  width: 50%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  line-height: 1.5rem;
}

.connect, .employees-heading{
  text-align: center;
}

.employees{
  display: flex;
  height: 300px;
}


.contact-info{
  height: 400;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.contact-info article{
  justify-self: center;
}

.contact-info iframe{
  justify-self: end;
  border: none;
}


.bold{
  font-weight: 600;
}

.bold span{
  font-weight: 400;
}

fieldset{
  border: none;
}