:root{
    --black-color : #000;
    --dark-blue-color: darkblue;
    --image-width: 150px;
    --padding-10px: 10px;
}

nav{
    background-color: var(--dark-blue-color);
    padding: var(--padding-10px);
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: var(--dark-blue-color);
}

img{
    width: var(--image-width);
    height: auto;
    border: 1px solid var(--black-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p{
    padding: var(--padding-10px);
}

main{
    max-width: 840px;
}

main img{
    width: var(--image-width);
    height: auto;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 /0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    border-top: 1px solid var(--black-color);
    text-align: center;
}